    *{
z-index: 0;
    }

    html, body {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    #particles-js {

        width: 100%;
        background: #36393f;
        z-index: -1;
        top:0;
        bottom: 0;
        
    }

    .particles-js-canvas-el {
        min-height: 100vh;
        position: fixed;
        z-index: -1;
    }

    .containerChecklist{
        position: absolute;
        display: block;
        top:10%;
        left:5%;
    }

    .containerCalc{
        position: absolute;
        display: block;
        top:5%;
        left:5%;
    }

    .containerNYT{
        position: absolute;
        display: block;
        top:5%;
        left:5%;
    }

    .containerGif{
        position: absolute;
        display: block;
        max-width: 100%;
        top:5%;
        
    }

    .containerWiki{
    position: absolute;
    display: block;
    max-width: 100%;
    top:5%;
    left:5%;
    }


    #container-of-boxes {
        display: table;
        max-width: 100%;
        padding-right: 0;
    }
    
    body {
        font-family: 'Catamaran', sans-serif;
    }
    
    #navcontainer{
        max-width: 100%;
    }

    
    #contentcontainer{
        max-width: 100%;
    }
    
    #navigationCSS{
        background: #36393f;
        color:#f2f2f2;
        
    }
    
    #mainnavigationCSS{
        background: #36393f;
        color:#f2f2f2;
        border: 2px solid #202225;
        z-index: 1;
    }
    
    h1{
        color:#f2f2f2;
    }

    #sidebar{
        background: #202225;
        
    }
    
    #mainbody{
        background: #36393f;
        color:#f2f2f2;
        padding-left:0;
        padding-right:0;
        overflow: auto;
    }
    
    #sidebar,
    #mainbody{
        min-height: 800px;
        margin-bottom: 0;
        display: table-cell;
        
    }

    
    #home {
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10%;
        width: 90px; 
        height: auto;    
        margin-top:10px;
    }

    .center{
        margin-left: auto;
        margin-right: auto;
    }
    
    .overlay {
        position: absolute;
        border-radius: 50%;
        top: 10px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 90px;
        width: 90px;
        opacity: 0;
        transition: .5s ease;
        background-color: #7289da;
        background-position: center;
      }
      
      .container1:hover .overlay {
        opacity: 1;
        border-radius: 20%;
    
      }
      

      .text {
        color: #f2f2f2;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-family: 'Catamaran', sans-serif;
        text-decoration:none;
        font-weight: bold;
    }

    .text:link{
        text-decoration:none;
    }
    
    .text:hover{
        text-decoration:none;
        color: #f2f2f2;
    }

.invert{
    -webkit-filter: invert(100%);
}

#notePad{
   display: block;
   font-size:85px;
   margin-top: 20px;
   margin-left: auto;
   border-radius: 100%;
   
}

.overlay2 {
    position: absolute;
    border-radius: 50%;
    top: 118px;
    bottom: 0;
    left:0;
    right: 0;
    height: 90px;
    width: 90px;
    opacity: 0;
    transition: .5s ease;
    background-color: #7289da;
    background-position: center;
    
  }
  
  .container2:hover .overlay2 {
    opacity: 1;
    border-radius: 20%;
  }

  #calculator{
    font-size:75px;
    margin-top: 25px;
    margin-left: auto;
}

.overlay3 {
    position: absolute;
    border-radius: 50%;
    top: 220px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 90px;
    opacity: 0;
    transition: .5s ease;
    background-color: #7289da;
    background-position: center;
  }
  
  .container3:hover .overlay3 {
    opacity: 1;
    border-radius: 20%;
  }

  #NYTimes{
    font-size:73px;
    margin-top: 25px;
    margin-left: auto;
}

.overlay4 {
    position: absolute;
    border-radius: 50%;
    top: 322px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 90px;
    opacity: 0;
    transition: .5s ease;
    background-color: #7289da;
    background-position: center;
  }
  
  .container4:hover .overlay4 {
    opacity: 1;
    border-radius: 20%;
  }


  #gify{
    font-size:80px;
    margin-top: 25px;
    margin-left: auto;
}



.overlay5 {
    position: absolute;
    border-radius: 50%;
    top: 422px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 90px;
    opacity: 0;
    transition: .5s ease;
    background-color: #7289da;
    background-position: center;
  }
  
  .container5:hover .overlay5 {
    opacity: 1;
    border-radius: 20%;
  }


  #wiki{
    font-size:70px;
    margin-top: 25px;
    margin-left: auto;
}

  .overlay6 {
    position: absolute;
    border-radius: 50%;
    top: 522px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 90px;
    opacity: 0;
    transition: .5s ease;
    background-color: #7289da;
    background-position: center;
  }
  
  .container6:hover .overlay6 {
    opacity: 1;
    border-radius: 20%;
  }

  #spotify{
    font-size:80px;
    margin-top: 20px;
    margin-left: auto;
}

.overlay7 {
    position: absolute;
    border-radius: 50%;
    top: 622px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 90px;
    opacity: 0;
    transition: .5s ease;
    background-color: #7289da;
    background-position: center;
  }
  
  .container7:hover .overlay7 {
    opacity: 1;
    border-radius: 20%;
  }

  .calcApp {
    color: Black;
    margin: 15px;
    padding: 15px;
  }

  .NYTimes {
    color: Black;
    background-color: black;
    margin: 15px;
    padding: 15px;
  }

  .nytFont{
    color:#36393f;
    font-family:'Catamaran', sans-serif;
  }

  .gif{
      margin-left:50px;
  }

 #gif-div p{
    margin-left:50px;
  }


ul{
    list-style-type: none;

}

#searchtoggl {
    display: block;
    float: left;
    font-size: 1.2em;
    color: #f2f2f2;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  #searchtoggl:hover {
    color: #7289da;
  }


  #searchbar {
    display: none;
    float: left;
    width: 100%;
    height: 62px;
    border-top: 1px solid #d8d8d8;
    padding-left: 25px;
    padding-right: 10px;
    z-index: 999;
    background: #fff;
    -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  }
  
  #s {
    display: block;
    width: 50%;
    border: 0;
    outline: none;
    padding: 0;
    height: 50px;
    line-height: 60px;
    font-size: 3.0em;
    font-weight: bold;
    color: #676767;
    font-family: 'Catamaran', sans-serif;
  }
  
  #searchsubmit {
    display: block;
    float: right;
    margin-top: 6px;
    background: none;
    color: #717171;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  

  form input[type="search"] {
    text-transform: lowercase;
}

#component1{
    left:15px;
    top:57px;
    width:100%;
    height:210px;
    border: 1px solid black;
    position: absolute;
    z-index: 999;
    background: #fff;
    box-shadow: inset 3px 4px 5px #000;
}

.gradient {
    background:
      linear-gradient(
        to right, 
        #43cea2,
        rgba(255,0,0,0)
      );
  }

  .nytBox{
      background:  #36393fb0;
      color:#fff;
  }